.navPrincipal{
    font-weight:700;
}
.logo{
    width: 50%;
    height: auto;
    padding: 0;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card-body{
    height: 200px;
    object-fit: contain;
}
.bg-blue-black{
    background-color: rgb(4, 13, 47);
}
.bg-black-white{
    background-color: rgba(2, 11, 47, 0.811);
}
footer a{
    text-decoration: none;
    color: rgb(4, 13, 47);
}