.navPrincipal{
    font-weight:700;
}
.logo{
    width: 50%;
    height: auto;
    padding: 0;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card-body{
    height: 200px;
    object-fit: contain;
}
.bg-blue-black{
    background-color: rgb(4, 13, 47);
}
.bg-black-white{
    background-color: rgba(2, 11, 47, 0.811);
}
footer a{
    display: inline-block;
    text-decoration: none;
    color: rgb(4, 13, 47);
}
.headerBC {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 30px;
	color: #fff;
    width: 100%;
}
.navbar{
    margin: 0;
    padding: 0;
}
.list{
    text-align: center;
    width: max-content;
    padding: 0;
    margin: 0;
}
.list li{
    display: inline;
<<<<<<< HEAD
    margin: 5px 15px;
=======
}
.row{
    margin: 0;
>>>>>>> deec10d876e82c01ec34a471e241e5dd41e00f52
}