*{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 
}
.navPrincipal{
    font-weight:700;
}
.logo{
    width: 50%;
    height: auto;
    padding: 0;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card-body{
    height: 200px;
    object-fit: contain;
}
.bg-blue-black{
    background-color: rgb(4, 13, 47);
}
.bg-black-white{
    background-color: rgba(2, 11, 47, 0.811);
}
footer a{
    display: inline-block;
    text-decoration: none;
    color: rgb(23, 26, 37);
}
.headerBC {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 30px;
	color: #fff;
    width: 100%;
}
.navbar{
    margin: 0;
    padding: 0;
}
.list{
    text-align: center;
    width: max-content;
    padding: 0;
    margin: 0;
}
.list li{
    display: inline;
    margin: 5px 15px;
}
.row{
    margin: 0;
}
.to-limit {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.photo_profile{
    width: 150px;
    border-radius: 50%;
}
#offline{
 border: 2px solid rgb(82, 189, 82);
  background-color: rgb(82, 189, 82);
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight: 900;
} 

