*{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 
}
/* .hoverCateg{
    position: relative;
}
.ulList{
    display: none;
    width:fit-content;
    position: absolute;
    top: 40px;
    padding: 5px;
    text-align: center;
    background-color: rgb(223, 19, 19);
    border: none;
}
.ulList li:hover{
border-bottom: solid rgb(230, 160, 11);
}
.ulList a{
    color: rgb(4, 13, 47);
    text-decoration: none;
}
.hoverCateg:hover+.ulList{
    display: block;
    z-index: 5;
} */

.navPrincipal{
    font-weight:700;
}
.logo{
    width: 50%;
    height: auto;
    padding: 0;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card-body{
    height: 200px;
    object-fit: contain;
}
.bg-blue-black{
    background-color: rgb(4, 13, 47);
}
.bg-black-white{
    background-color: rgba(2, 11, 47, 0.811);
}
footer a{
    display: inline-block;
    text-decoration: none;
    color: rgb(4, 13, 47);
}
.headerBC {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 30px;
	color: #fff;
    width: 100%;
}
.navbar{
    margin: 0;
    padding: 0;
}
.list{
    text-align: center;
    width: max-content;
    padding: 0;
    margin: 0;
}
.list li{
    display: inline;
    margin: 5px 15px;
}
.row{
    margin: 0;
}